build*
*.smt2
*.pyc
*.dot
tags
cscope.out
cscope.files
consts_db
consts_db.in
utils/config_host.pm
utils/config_host.py
rewrite.log
out
out.*
lib/parser/lex.yy.c
lib/parser/z3_model.tab.cpp
lib/parser/z3_model.tab.hpp
gprof.out
gmon.out
err
diff
patch
Err
a.expr
b.expr
a.pr
ptab*
abc
a
aa*
compile_commands.json
Doxyfile
Doxygen
*vscode
*code-workspace
.*.sw?
GPATH
GRTAGS
GTAGS
